body {
    margin: 0px;
    background-color: beige;
    text-align: center;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

#para1 {
    font-style: italic;
}

#username {
    border-radius: 7px;
    width: 200px;
    font-family: 'Times New Roman', Times, serif;
    color: jadeblack;

#pass {
    border-radius: 7px;
    width: 200px;
    font-family: 'Times New Roman', Times, serif;
    color: jadeblack;
}
