body {
    margin: 0px;
    background-color: beige;
    text-align: center;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

#para1 {
    font-style: italic;
}

#username {
    border-radius: 7px;
    width: 300px;
    font-family: 'Times New Roman', Times, serif;
    color: aqua;
}

#pass {
    border-radius: 7px;
    width: 300px;
    font-family: 'Times New Roman', Times, serif;
    color: aqua;
}

#submit  {
    border-radius: 5px;
    color: rebeccapurple;
    margin-top: auto;
    margin-left: 10px;
}